<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
	<title>GeoNotes</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}OpenLayers/theme/default/style.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/style.css" />
	<script type="text/javascript" src={{ STATIC_URL }}OpenLayers/OpenLayers.js></script>
	<script type="text/javascript" src={{ STATIC_URL }}jquery/jquery-1.7.1.min.js></script>
	<script type="text/javascript" src={{ STATIC_URL }}javascripts/geonotes.js></script>
  </head>
  <body>
	<h1>GeoNotes</h1>
	<div id="user_control" class="uc">
	  <div id="uc_logged_out">
		<a id="login" href="#" class="uc">Login</a>
		<a id="register" href="#" class="uc">Register</a>
	  </div>
	  <div id="uc_logged_in" style="display: none">
		<a id="logout" href="#" class="uc">Logout</a>
	  </div>
	  <div id="uc_login" style="display: none">
		<form id="uc_login_form">
		  <fieldset>
			<legend>Enter credentials</legend>
			<div><span id="uc_login_status"/>&nbsp;</div>
			<label for="id_username">Username: </label>
			<input id="username" name="username" size="25" class="required username"/>
			<label for="id_password">Password: </label>
			<input id="password" name="password" type="password" size="25" class="required password"/>
		  </fieldset>
		  <a id="login_submit" href="#" class="uc">Submit</a>
		  <a id="login_cancel" href="#" class="uc">Cancel</a>
		</form>
	  </div>
	  <div id="uc_registration" style="display: none">
		<form id="uc_reg_form">
		  <fieldset>
			<legend>Enter registration info</legend>
			<div><span id="uc_reg_status"/>&nbsp;</div>
			<label for="id_username">Username: </label>
			<input id="username" name="username" size="25" class="required username"/>
			<label for="id_password1">Password: </label>
			<input id="password1" name="password" type="password" size="25" class="required password1"/>
			<label for="id_password2">Password: </label>
			<input id="password2" name="password" type="password" size="25" class="required password2"/>
		  </fieldset>
		  <a id="reg_submit" href="#" class="uc">Submit</a>
		  <a id="reg_cancel" href="#" class="uc">Cancel</a>
		</form>
	  </div>
	</div>
	<p>Zoom, pan, and click to add a GeoNote</p>
	<div id="map" class="largemap"></div>
  </body>
</html>
